[submodule "lib/jansson"]
	path = lib/jansson
	url = https://github.com/akheron/jansson.git
	ignore = dirty
[submodule "lib/SDL2"]
	path = lib/SDL2
	url = https://github.com/davidsiaw/SDL2.git
	ignore = dirty	
[submodule "lib/SDL2_ttf"]
	path = lib/SDL2_ttf
	url = https://github.com/davidsiaw/SDL2_ttf.git
	ignore = dirty	
[submodule "lib/SDL2_mixer"]
	path = lib/SDL2_mixer
	url = https://github.com/davidsiaw/SDL2_mixer.git
	ignore = dirty	
[submodule "lib/SDL2_image"]
	path = lib/SDL2_image
	url = https://github.com/davidsiaw/SDL2_image.git
	ignore = dirty	
[submodule "lib/ffmpeg"]
	path = lib/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
	ignore = dirty	
[submodule "lib/boost/exception"]
	path = lib/boost/exception
	url = https://github.com/boostorg/exception.git
[submodule "lib/boost/config"]
	path = lib/boost/config
	url = https://github.com/boostorg/config.git
[submodule "lib/boost/detail"]
	path = lib/boost/detail
	url = https://github.com/boostorg/detail.git
[submodule "lib/boost/assert"]
	path = lib/boost/assert
	url = https://github.com/boostorg/assert.git
[submodule "lib/boost/utility"]
	path = lib/boost/utility
	url = https://github.com/boostorg/utility.git
[submodule "lib/boost/smart_ptr"]
	path = lib/boost/smart_ptr
	url = https://github.com/boostorg/smart_ptr.git
