[submodule "lib/jansson"]
	path = lib/jansson
	url = https://github.com/akheron/jansson.git
	ignore = dirty
[submodule "lib/SDL2"]
	path = lib/SDL2
	url = https://github.com/davidsiaw/SDL2.git
	ignore = dirty	
[submodule "lib/SDL2_ttf"]
	path = lib/SDL2_ttf
	url = https://github.com/davidsiaw/SDL2_ttf.git
	ignore = dirty	
[submodule "lib/SDL2_mixer"]
	path = lib/SDL2_mixer
	url = https://github.com/davidsiaw/SDL2_mixer.git
	ignore = dirty	
[submodule "lib/SDL2_image"]
	path = lib/SDL2_image
	url = https://github.com/davidsiaw/SDL2_image.git
	ignore = dirty	
[submodule "lib/ffmpeg"]
	path = lib/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
	ignore = dirty	
